<h2>New Book</h2>
<form action="/books" method="POST"> 
    <!-- /*enctype="multipart/form-data"*/  -->

    <%- include('_form-fields_books')%><br />

    <a href="/books">Cancel</a>
    <button type="submit">Create the book</button>
</form>