<header>
    <nav>
        <a href="/">Librerija</a>
        <ul>
            <li><a href="/authors">See All Authors</a></li>
            <li><a href="/authors/new">Add New Author</a></li>
            <li><a href="/books">See All Books</a></li>
            <li><a href="/books/new">Add New Book</a></li>
        </ul>
    </nav>
</header>