<header>
    <nav class="header-nav">
        <a class="header-title" href="/">Librerija</a>
        <ul>
            <li class="header-link"><a href="/authors">See All Authors</a></li>
            <li class="header-link"><a href="/authors/new">Add New Author</a></li>
            <li class="header-link"><a href="/books">See All Books</a></li>
            <li class="header-link"><a href="/books/new">Add New Book</a></li>
        </ul>
    </nav>
</header>