@import 'shared/variables.css';
@import 'shared/fonts.css';
@import 'shared/header-var.css';
@import 'shared/buttons-var.css';
@import 'shared/form-var.css';


:root {

    font-family: 'Aesthet';
    font-size: 25px;
    color: var(--color-text-light);
}

*, *::befor, *::after {
    box-sizing: border-box;
}

body {

    background: linear-gradient(to right, var(--color-background-dark), var(--color-background-light));
    
}

.container {
    max-width: 1200px;
    margin: auto;
    margin-bottom: 3rem;
}

.inner-container {
    margin: 0 2rem;
}

.page-header {

    font-size: 1.6rem;
    font-weight: 300;
}

/* .name-author {
    margin-left: .20rem;
} */