<label for="name">Name:</label>&nbsp;
<input type="text" name="name" placeholder="Name of the Author" value="<%= author.firstName %>"/><br /><br />

<!-- <label for="lastname">Lastname:</label>&nbsp;
<input type="text" name="lastname" placeholder="lastname of the author" value="<%= author.lastname %>"/><br /><br /> -->
