<h2>Search Authors</h2>


<form action="/authors" method="GET">

    <label for="name">Name</label><br />
    <input type="text" name="name" placeholder="Put the Name here for searching..." value="<%= searchOptions.name %>" />
    <button type="submit">Search</button>

</form><br />

<% authors.forEach(author => { %>

    <div> <%= author.name %> </div>

<% }); %>
