<h2 class="page-header">New Author</h2>
<form action="/authors" method="POST">


    <%- include('_form-fields')%>

    <a class="btn btn-primary" href="/authors">Cancel</a>
    <button class="btn btn-primary" type="submit">Create the author</button>
</form>